/*
 * # Layout
 */
@charset "UTF-8"

/* ## Position */
.abs
  position absolute
.rel
  position relative


/* ## Text Align */
.tac
  text-align center 
.tal
  text-align left 
.tar
  text-align right 


/* ## Margin */
.ms
  margin $space-size-s
.mm
  margin $space-size-m
.ml
  margin $space-size-l

.mts
  margin-top $space-size-s
.mtm
  margin-top $space-size-m
.mtl
  margin-top $space-size-l

.mbs
  margin-bottom $space-size-s
.mbm
  margin-bottom $space-size-m
.mbl
  margin-bottom $space-size-l

.mrs
  margin-right $space-size-s
.mrm
  margin-right $space-size-m
.mrl
  margin-right $space-size-l

.mls
  margin-left $space-size-s
.mlm
  margin-left $space-size-m
.mll
  margin-left $space-size-l

.mvs
  margin-top $space-size-s
  margin-bottom $space-size-s
.mvm
  margin-top $space-size-m
  margin-bottom $space-size-m
.mvl
  margin-top $space-size-l
  margin-bottom $space-size-l

.mhs
  margin-right $space-size-s
  margin-left $space-size-s
.mhm
  margin-right $space-size-m
  margin-left $space-size-m
.mhl
  margin-right $space-size-l
  margin-left $space-size-l



/* ## Padding */
.ps
  padding $space-size-s
.pm
  padding $space-size-m
.pl
  padding $space-size-l

.pts
  padding-top $space-size-s
.ptm
  padding-top $space-size-m
.ptl
  padding-top $space-size-l

.pbs
  padding-bottom $space-size-s
.pbm
  padding-bottom $space-size-m
.pbl
  padding-bottom $space-size-l

.prs
  padding-right $space-size-s
.prm
  padding-right $space-size-m
.prl
  padding-right $space-size-l

.pls
  padding-left $space-size-s
.plm
  padding-left $space-size-m
.pll
  padding-left $space-size-l

.pvs
  padding-top $space-size-s
  padding-bottom $space-size-s
.pvm
  padding-top $space-size-m
  padding-bottom $space-size-m
.pvl
  padding-top $space-size-l
  padding-bottom $space-size-l

.phs
  padding-right $space-size-s
  padding-left $space-size-s
.phm
  padding-right $space-size-m
  padding-left $space-size-m
.phl
  padding-right $space-size-l
  padding-left $space-size-l


/* ## Display */
.hide
  display none
.block
  display block
.inline
  display inline


/*
 * ## flex
 */
.flex
  display flex
  flex-flow row nowrap

// horizon
.fhs
  justify-content flex-start
.fhe
  justify-content flex-end
.fhc
  justify-content center
.fhb
  justify-content space-between
.fha
  justify-content space-around

// vertical
.fvs
  align-items flex-start
.fve
  align-items flex-end
.fvc
  align-items center
.fvt
  align-items stretch



