/*
 * # Typography
 */

/* ## Size */
.fsl
  font-size $font-size-l
.fsm
  font-size $font-size-m
.fss
  font-size $font-size-s
.fsxs
  font-size $font-size-xs

/* ## Color */
.fc-gray
  color $white
.fc-gray
  color $gray
.fc-black
  color $black

.fc-primary
  color $color-primary
.fc-success
  color $color-success
.fc-info
  color $color-info
.fc-warning
  color $color-warning
.fc-danger
  color $color-danger


/* ## Rule */
.rule
  border-top 1px dashed $gray-deep
  border-bottom none
