/* # Color */

/* ## GrayScale */
$white       = #fff
$gray-light  = #ccc
$gray        = #999
$gray-deep   = #333
$black       = #000


/* ## Color Pallet */
$color-primary = #337ab7
$color-success = #5cb85c
$color-info    = #5bc0de
$color-warning = #f0ad4e
$color-danger  = #d9534f

/* ## Specific */
// $link-color = 


/* ## Space */
$space-s =  4px
$space-m =  8px
$space-l = 12px

/* ## Radius */
$radius-s = 6px
$radius-m = 10px


/* ## Font -size- */
$font-size-l  = 16px
$font-size-m  = 14px
$font-size-s  = 12px
$font-size-xs = 10px